<form name="form" action="/submit" method="post" id="form">
  <div style="margin-bottom:10px">
    <fieldset  style="padding:10px">
      <legend>Key words</legend>
      <div class="row">
        <div class="col-xs-1" style="padding:20px"><a class="btn btn-primary select">Select all</a></div>
        <div class="col-xs-1" style="padding:20px"><a class="btn btn-primary select">Deselect all</a></div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="recession"> recession</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="depression"> depression</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="deflation"> deflation</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="price of gold"> price of gold</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="gold value"> gold value</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="bankruptcy"> bankruptcy</div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="crisis"> crisis</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="gdp"> gdp</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="charity"> charity</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="unemployment"> unemployment</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="inflation rate"> inflation rate</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="short sale"> short sale</div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="poverty"> poverty</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="volatility"> volatility</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="resolution"> resolution</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="capitalization"> capitalization</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="sovereign"> sovereign</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="deficit"> deficit</div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="debt"> debt</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="leverage"> leverage</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="failure"> failure</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="default"> default</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="exposure"> exposure</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="credit"> credit</div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="boom"> boom</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="bust"> bust</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="krach"> krach</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="risk"> risk</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="liquidity"> liquidity</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="funding"> funding</div>
	  </div>
	  <div class="row">	
        <div class="col-xs-2"><input type="checkbox" name="word" value="interconnectness"> interconnectness</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="contagion"> contagion</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="domino"> domino</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="Vix"> VIX index</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="CDS"> CDS</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="social"> social security card</div>
      </div>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="stock market"> stock market</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="bail-in"> bail-in</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="bail-out"> bail-out</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="domino effect"> domino effect</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="systemic risk"> systemic risk</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="market stress"> market stress</div>
	  </div>
	  <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="word" value="stress test"> stress test</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="bubble"> bubble</div>
        <div class="col-xs-2"><input type="checkbox" name="word" value="foreclosure"> foreclosure</div>
      </div>
        <div class="col-xs-4" id="message-words-required"></div>
    </fieldset>
  </div>
  <div style="margin-bottom:10px">
    <fieldset style="padding:10px">
      <legend>Sources</legend>
      <div class="row">
        <div class="col-xs-2"><input type="checkbox" name="source" value="NYT"> NYT</div>
        <div class="col-xs-2"><input type="checkbox" name="source" value="Reuters"> Reuters</div>
        <div class="col-xs-2"><input type="checkbox" name="source" value="Krugman"> Krugman</div>
        <div class="col-xs-2"><input type="checkbox" name="source" value="FT"> FT</div>
        <div class="col-xs-1"><a class="btn btn-primary select-source">Select all</a></div>
        <div class="col-xs-1"><a class="btn btn-primary select-source">Deselect all</a></div>
        <div class="col-xs-4" id="message-sources-required"></div>
      </div>
    </fieldset>
  </div>
  <div class="row" style="margin-bottom:20px; padding:10px">
    <div class="col-xs-4">Start date: <input type="text" name="startDate" id="startDate" class="date" required></div>
    <div class="col-xs-4">End date: <input type="text" name="endDate" id="endDate" class="date" required></div>
    <div class="col-xs-4" id="message-dates-sorted"></div>
  </div>
  <div>
    <div class="col-xs-5"></div>
	<div class="col-xs-1"><button class="btn btn-primary" type="submit"  id="btnFears" value="fears">Calculer</button></div>
    <!--<div class="col-xs-1"><button class="btn btn-primary" type="submit"  id="btnWordCloud" value="concept_analysis">Concept analysis</button></div>-->
  </div>
  <input type="hidden" name="visualization" id="visualization" value="">
  
</form>
