.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 2px;
	width:20px;
    background: rgba(255,255,255, 0.8);
    color: #fff;
    border-radius: 2px;
}

.opacity-high{
	opacity:1
}
.opacity-low{
	opacity:0.2
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#btnCsvExport{
    margin-right: 50px;
    margin-top: 50px;

}

.position-tooltip{
    position: fixed;
    right:100px ;
    top:100px;
}
.red{
    font-weight: bold;
    color:red;
}
#wait{
    position:absolute;
    top:0;
    left:0;
    display:none;
    opacity:0.5;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
    z-index: 100;
    width: 100%;
    height: 100%;
}
#concept, #corpus{
	display:none;
}